{% extends 'default-page.twig' %}

{% block script %}
    <script src="{{ uri.media }}js/doc.js"></script>
{% endblock %}

{% block stylesheet %}
    {{ parent()  }}

    <style>

    </style>
{% endblock %}

{% block nav %}
    {% embed '_global/header/nav.twig' %}
        {% block version_switcher %}
            <div class="btn-group" style="margin-left: 15px">
                <button type="button" class="btn btn-default btn-raised dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ version }} <i class="fa fa-caret-down"></i>
                </button>
                <ul class="dropdown-menu">
                    <li class="{{ version == '3.x' ? 'active' : '' }}">
                        <a href="{{ uri.base }}{{ helper.doc.getVersionPath(path, '3.x', config) }}">3.x</a>
                    </li>

                    <li class="{{ version == '2.1' ? 'active' : '' }}">
                        <a href="{{ uri.base }}{{ helper.doc.getVersionPath(path, '2.1', config) }}">2.1</a>
                    </li>
                </ul>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block submenu %}
    <div class="uk-width-medium-1-4 uk-container-center">
        {% include 'sub-menu.twig' with {'menu': 'documentation', 'version': version} %}
    </div>
{% endblock %}

{% block article_footer %}
    <hr />

    <p class="text-center inner-top-sm">
        If you found a typo or error, please help us <a target="_blank" href="https://github.com/ventoviro/ventoviro.github.io/tree/master/.vaseman/entries/{{ path|join('/') }}">improve</a> this document.
    </p>
{% endblock %}
