<ul class="uk-nav uk-nav-side side-menu side-bar" data-uk-nav="">
    {% set menus = menus[menu] %}

    {% if version %}
        {% set menus = menus[version] %}
    {% endif %}

    {% for title, section in menus %}
    <li class="uk-nav-header">{{ title }}</li>
        {% for id, item in section %}
            <li class="{{ helper.doc.getPath(path, version) == id ? 'uk-active' : '' }}">
                <a href="{{ uri.base }}{{ menu }}/{{ version ? version ~ '/' : '' }}{{ id }}.html">{{ item }}</a>
            </li>
        {% endfor %}

    <li class="uk-nav-divider"></li>
   {% endfor %}
</ul>
