<ul class="nav nav-stacked side-menu side-bar">
    {% set menus = menus[menu] %}

    {% if version %}
        {% set menus = menus[version] %}
    {% endif %}

    {% for title, section in menus %}
    <li class="nav-header">
        <h3 class="slab-font">{{ title }}</h3>
    </li>
        {% for id, item in section %}
            <li class="{{ helper.doc.getPath(path, version) == id ? 'active' : '' }}">
                <a class="withripple" href="{{ uri.base }}{{ menu }}/{{ version ? version ~ '/' : '' }}{{ id }}.html">{{ item }}</a>
            </li>
        {% endfor %}

    {#<li class="uk-nav-divider"></li>#}
   {% endfor %}
</ul>
