<nav id="nav">

    <div class="navbar navbar-transparent">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ uri.base }}">
                    <img class="img-invert" src="{{ uri.media }}images/logo/windwalker-logo-150.png" alt="Logo" style="max-height: 100%">
                </a>
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
                {#<ul class="nav navbar-nav">#}
                {#<li class="active"><a href="javascript:void(0)">Active</a></li>#}
                {#<li><a href="javascript:void(0)">Link</a></li>#}
                {#<li class="dropdown">#}
                {#<a href="http://fezvrasta.github.io/bootstrap-material-design/bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown#}
                {#<b class="caret"></b></a>#}
                {#<ul class="dropdown-menu">#}
                {#<li><a href="javascript:void(0)">Action</a></li>#}
                {#<li><a href="javascript:void(0)">Another action</a></li>#}
                {#<li><a href="javascript:void(0)">Something else here</a></li>#}
                {#<li class="divider"></li>#}
                {#<li class="dropdown-header">Dropdown header</li>#}
                {#<li><a href="javascript:void(0)">Separated link</a></li>#}
                {#<li><a href="javascript:void(0)">One more separated link</a></li>#}
                {#</ul>#}
                {#</li>#}
                {#</ul>#}


                <ul class="mainmenu nav navbar-nav navbar-right">
                    <li class="{{ path[0] == 'about' ? 'active' : '' }}">
                        <a href="{{ uri.base }}about/">
                            <i class="material-icons">change_history</i>
                            <span class="menu-item-title">About</span>
                        </a>
                    </li>

                    <li class="{{ path[0] == 'documentation' ? 'active' : '' }}">
                        <a href="{{ uri.base }}documentation/3.x/start/installation.html">
                            <i class="material-icons">description</i>
                            <span class="menu-item-title">Documentation</span>
                        </a>
                    </li>

                    <li class="{{ path[0] == 'rad' ? 'active' : '' }}">
                        <a href="{{ uri.base }}rad/start/introduction.html">
                            <i class="material-icons">graphic_eq</i>
                            <span class="menu-item-title">RAD</span>
                        </a>
                    </li>

                    <li class="">
                        <a href="https://github.com/ventoviro/windwalker" target="_blank">
                            <i class="fa fa-fw fa-github"></i>
                            <span class="menu-item-title">GitHub</span>
                        </a>
                    </li>

                    <li>
                        {% block version_switcher %}{% endblock %}
                    </li>
                </ul>
            </div>
        </div>
    </div>

</nav>
