<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{ uri.media }}images/favicon.ico" />

    <title>{% block title %}Windwalker - PHP Rapid Development Framework{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="{{ uri.media }}css/bootstrap.css" />
    <link rel="stylesheet" href="{{ uri.media }}css/bootstrap-material-design.css" />
    <link rel="stylesheet" href="{{ uri.media }}css/ripples.css" />
    <link rel="stylesheet" href="{{ uri.media }}css/main.css" />
    <link rel="stylesheet" href="{{ uri.media }}css/prism.css" />

    <meta name="description" content="{{ config.meta.desc }}">
    <meta name="generator" content="The Time Machine">

{% if (config.og.image) %}
    <meta property="og:image" content="{{ config.og.image }}">
{% endif %}
    <meta property="og:title" content="{{ block('title') }}">
    <meta property="og:site_name" content="Windwalker Framework">
{% if (config.meta.desc) %}
    <meta property="og:description" content="{{ config.meta.desc }}">
{% endif %}

    {% block stylesheet %}{% endblock %}
</head>
<body class="{{ config.home ? 'home' : '' }}">

{% block header %}
<section id="header" class="home-header">

    {% include '_global/header/nav.twig' %}

    <section id="banner" class="container text-center">
        <div class="row">
            <div class="banner-content col-md-8">
                <h1 class="banner-title">WINDWALKER</h1>
                <h3 class="slab-font">A PHP Rapid Application Development Framework</h3>
            </div>
        </div>
    </section>

</section>
{% endblock %}

<div id="main-body" class="main main-raised main-raised-bottom">
    {% block body %}
        {{ content|raw }}
    {% endblock %}
</div>

<section id="footer" class="black-block inner-md text-center">

    <div class="container inner-top-md inner-bottom-sm">
        
        <p>
            <a href="https://github.com/ventoviro/windwalker" class="btn" target="_blank">
                <i class="fa fa-github"></i>
                GitHub
            </a>

            <a href="http://natika.windwalker.io" class="btn" target="_blank">
                <i class="fa fa-comments"></i>
                Forum
            </a>

            <a href="http://windwalker.io/api-site/" class="btn" target="_blank">
                <i class="fa fa-code"></i>
                API
            </a>
        </p>

        <p class="outer-top-xs">
            <a href="#header" class="text-center footer-logo">
                <img class="img-invert" width="250" src="{{ uri.media }}images/logo/windwalker-logo.png" alt="Logo" style="">
            </a>
        </p>

        <p class="lead outer-top-xs">
            Copyright © {{ "now"|date('Y') }} Windwalker. All Rights Reserved.
        </p>
    </div>

</section>

<!-- Bootstrap core JavaScript
   ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ uri.media }}js/jquery.min.js"></script>
<script src="{{ uri.media }}js/jquery.smooth-scroll.min.js"></script>
<script src="{{ uri.media }}js/bootstrap.min.js"></script>
<script src="{{ uri.media }}js/material.min.js"></script>
<script src="{{ uri.media }}js/ripples.min.js"></script>
<script src="{{ uri.media }}js/prism.js"></script>
<script>
    $(document).ready(function() {

        // Init Material
        $.material.init();

        // Code Block
        $('.article-content pre code').each(function(i, block) {
            var $this = $(this);

            $this.attr('class', 'language-' + $this.attr('class'));
        });

        // Smooth scroll
        setTimeout(function ()
        {
            $('body a').smoothScroll({
                afterScroll:function (event) {
                    document.location.hash = this.hash
                }
            });
        }, 500);

        // Table style
        // Convert table style
        var tables = $('.article-content table');

        tables.addClass('table').addClass('table-striped');

        // Navbar
        var navTop;
        var hasColor = false;
        var nav = $('#nav .navbar');

        processScrollInit();
        processScroll();

        $(window).on('resize', processScrollInit);
        $(window).on('scroll', processScroll);

        function processScrollInit()
        {
            if (nav.length) {
                navTop = nav.length && 60;

                // Only apply the scrollspy when the toolbar is not collapsed
                if (document.body.clientWidth > 480)
                {
//                        $('.subhead-collapse').height(nav.height());
                    nav.scrollspy({offset: {top: nav.offset().top}});
                }
            }
        }

        function processScroll()
        {
            if (nav.length) {
                var scrollTop = $(window).scrollTop();

                if (scrollTop >= navTop && !hasColor) {
                    hasColor = true;
                    nav.addClass('navbar-primary');
                } else if (scrollTop <= navTop && hasColor) {
                    hasColor = false;
                    nav.removeClass('navbar-primary');
                }
            }
        }
    });

</script>

{% block script %}{% endblock %}

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-48372917-6', 'auto');
    ga('send', 'pageview');

</script>

</body>
</html>
